* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #051c2c;
  font-family: 'Roboto Mono', sans-serif;
}

/*ÖVERGRIPANDE*/
.container {
  display: flex;
  flex-direction: column;
}

.header_container {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main_header {
  color: #aabcfa;
  font-size: 40px;
}

.intro_text {
  color: #aabcfa;
  font-size: 20px;
  margin-top: 10px;
}

.search_input {
  height: 30px;
  width: auto;
  margin-top: 10px;
  border-radius: 5px;
  border-style: none;
  padding-left: 5px;
}

.search_btn {
  height: 20px;
  width: 50px;
  background-color: #aabcfa;
  font-family: inherit;
  margin-top: 5px;
  border-radius: 5px;
  border-style: none;
}

/* PLANETER */

.planets_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sun {
  background-color: #feec23;
  height: 500px;
  width: 500px;
  border-radius: 500px;
  margin-left: 20px;
}
.sun:hover {
  transform: scale(1.1);
}

.mercury {
  background-color: #787878;
  height: 10px;
  width: 10px;
  border-radius: 10px;
}

.mercury:hover {
  transform: scale(4);
}

.venus {
  background-color: #f6aaaa;
  height: 20px;
  width: 20px;
  border-radius: 20px;
}

.venus:hover {
  transform: scale(2.5);
}

.earth {
  background-color: #2398fe;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.earth:hover {
  transform: scale(1.5);
}

.mars {
  background-color: #cf4319;
  height: 40px;
  width: 40px;
  border-radius: 40px;
}

.mars:hover {
  transform: scale(2);
}

.jupiter {
  background-color: #99865e;
  height: 90px;
  width: 90px;
  border-radius: 90px;
}

.jupiter:hover {
  transform: scale(1.5);
}

.saturn_container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.saturn_container:hover {
  transform: scale(1.5);
}

.saturn {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  background-color: #f1dc81;
  height: 90px;
  width: 90px;
  border-radius: 90px;
}

.saturn_rings {
  grid-column: 1;
  grid-row: 1;
  background-color: #5d5531;
  height: 2px;
  width: 110px;
  border-radius: 2px;
  transform: rotate(-20deg);
}

.uranus {
  background-color: #4385f0;
  height: 60px;
  width: 60px;
  border-radius: 60px;
}

.uranus:hover {
  transform: scale(1.5);
}

.neptune {
  background-color: #042e89;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  margin-right: 20px;
}

.neptune:hover {
  transform: scale(1.5);
}

/* FOOTER */

.footer_container {
  margin: 40px;
  justify-self: end;
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}

.footer_content {
  font-size: 10px;
  align-self: flex-end;
  color: #cad5fa;
}

/*FAKTARUTA/OVERLAY*/

.close_btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 5rem;
  color: #333;
  /* cursor: pointer; */
  border: none;
  background: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.planet_cont {
  display: flex;
  justify-content: space-between;
}

.planet_info {
  width: 50%;
}

.infotext {
  font-size: 20px;
}

.planet_name {
  font-size: 40px;
}

.planet_type {
  margin-top: 10px;
  font-size: 15px;
}

.planet_moons {
  margin-top: 10px;
  white-space: normal;
  word-wrap: break-word;
  font-size: 15px;
}

.planet_temp {
  margin-top: 10px;
  font-size: 15px;
}

.planet_desc {
  margin-top: 40px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

@media (max-width: 768px) {
  .planets_container {
    flex-direction: column;
    row-gap: 40px;
  }

  .sun {
    margin: 0;
  }

  .neptune {
    margin: 0;
  }
}
